---
import Layout from "../../layouts/Layout.astro"
---

<Layout
  title="Interactive Web Experiences - daniiel.dev Case Studies"
  description="Dive into a showcase of cutting-edge interactive web projects. Explore how daniiel.dev pushes the boundaries of web development to create engaging, dynamic, and user-centric digital experiences."
>
  <main></main>
</Layout>
