---
import FullCoverage from "@/blocks/full-coverage.astro";
import Location from "../blocks/location.astro";
import Layout from "../layouts/Layout.astro";
import Promo from "@/blocks/promo.astro";
import Projects from "@/blocks/projects.astro";
import { Code } from "astro:components"
---

<Layout title="Your Creative Frontend Developer - Daniiel">
  <main>
    <Location title="Frontend developer based in Aarhus" description="With a combination of education as a web developer and a keen eye for design and UI/UX, I create growth and enable myself to work wholeheartedly with frontend development. In this way, I strengthen the brand's position as being the best when it comes to frontend development, while simultaneously creating valuable results that ultimately lead to better sales-ready leads." />
  </main>
</Layout>
