---
import { Image } from "astro:assets";
---

<figure class="w-full rounded-xl bg-slate-200/70 p-8">
  <Image
    class="h-24 w-24 rounded-full"
    src="/daniiel-avatar.jpg"
    alt=""
    width="384"
    height="512"
  />
  <div class="space-y-4 pt-6">
    <blockquote>
      <p class="text-lg font-medium">
        “I love building frontend applications with a strong focus on UI/UX,
        creating seamless and engaging user experiences.”
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="font-semibold text-indigo-500">Daniel Pedersen</div>
      <div class="text-slate-700">Frontend Developer, Daniiel</div>
    </figcaption>
  </div>
</figure>
