---
import Safari from "@/components/ui/safari";
import { Link } from "@/components/ui/link.tsx";
---

<section class="py-24 sm:py-32">
  <div
    class="mx-auto grid max-w-7xl grid-cols-1 gap-6 px-6 md:grid-cols-2 md:gap-8"
  >
    <div class="flex flex-col gap-4 py-16 lg:max-w-lg lg:py-24">
      <h2 class="text-4xl font-bold tracking-tight text-slate-900 lg:mt-6">
        Projects overview
      </h2>
      <p class="mt-3 text-base text-slate-600 sm:mt-5">
        Developed a fully responsive wishlist platform that seamlessly
        integrates frontend and backend technologies to provide a smooth
        user experience.
      </p>
      <div>
        <Link href="/projects">See all projects</Link>
      </div>
    </div>
    <div class="relative">
      <a href="https://oenskelisten.dk" class="absolute inset-0">
        <span class="sr-only">oenskelisten.dk</span></a
      >
      <Safari
        src="/images/oenskelisten.jpg"
        url="oenskelisten.dk"
        className="size-full"
      />
    </div>
  </div>
</section>
