---
import Safari from "@/components/ui/safari"
import { Link } from "@/components/ui/link.tsx"
import { Badge } from "@/components/ui/badge"
---

<section>
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-6 px-6 md:grid-cols-2 md:gap-8">
    <div class="flex flex-col gap-4 py-8 lg:max-w-lg lg:py-24">
      <h2 class="text-4xl font-bold tracking-tight text-slate-900 lg:mt-6">Hobby Project</h2>
      <p class="mt-3 text-base text-slate-600 sm:mt-5">
        Created a fully responsive wishlist platform as a personal playground to enhance my skills
        in frontend and backend development. It serves as a space to experiment with new packages,
        refine user experience design, and continuously improve functionality. The project currently
        utilizes the following technologies below.
      </p>
      <div class="flex flex-wrap gap-2 py-4 pt-2">
        <h3 class="sr-only">Tools</h3>
        <Badge variant="outline">NextJS</Badge>
        <Badge variant="outline">TailwindCSS</Badge>
        <Badge variant="outline">Postgres</Badge>
        <Badge variant="outline">Drizzle ORM</Badge>
        <Badge variant="outline">Better Auth</Badge>
      </div>
      <div>
        <Link href="/cases">See all cases</Link>
      </div>
    </div>
    <div class="relative">
      <a href="https://oenskelisten.dk" class="absolute inset-0">
        <span class="sr-only">oenskelisten.dk</span>
      </a>
      <Safari image_url="/images/oenskelisten.jpg" url="oenskelisten.dk" className="size-full" />
    </div>
  </div>
</section>
