---
import { Image } from "astro:assets"
import { SiteNavigation } from "@/components/global/site-navigation.tsx"
---

<header class="dark w-full bg-slate-900">
  <nav class="mx-auto flex max-w-7xl items-center justify-between px-6 py-6" aria-label="Global">
    <a href="/" class="-m-1.5 p-1.5 text-2xl text-white">
      <Image
        fetchpriority="high"
        loading="eager"
        height={32}
        width={136}
        alt="daniiel - Logo dark"
        src="/logo-dark.svg"
        class="h-8 w-auto"
      />
    </a>
    <div class="flex flex-1 justify-end">
      <SiteNavigation client:load />
    </div>
  </nav>
</header>
